BOOKINGS
<table class="table table-hover">
  <thead>
    <tr class="active">
      <th>#</th>
      <th>ID</th>
      <th>Ref No.</th>
      <th>Customer</th>
      <th>Date</th>
      <th>Total</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% for booking in @bookings %>
    <% if booking.deal.restaurant.user_id == current_user.id %>
    <tr>
      <td>1</td>
      <td><%= booking.deal_id %></td>
      <td><%= booking.user.first_name %></td>
      <td><%= booking.user.last_name %></td>
      <td><%= booking.user.email %></td>
      <td>$<%= booking.deal.price %></td>
      <td>$<%= booking.number_of_people %></td>
      <td>$<%= booking.date.strftime("%A the %dth of %B, at %H:%M") %></td>
      <td><%= booking.status %></td>
      <td><%= submit_tag "Confirm", class: "btn btn-success btn-sm" %> </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
