<table class="table table-hover">
  <div class="total-cost" >
    <%= link_to owner_bookings_path(format: "csv"), class: "btn btn-info btn-xs" do %>
    <i class="fa fa-download" aria-hidden="true"></i> Download CSV
    <% end %>
  </div>
  <thead>
    <tr class="info">
      <!-- <th>#</th> -->
      <th>Deal ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Customer Email</th>
      <th>Date Reserved</th>
      <th>Persons</th>
      <th>Status</th>
      <th>Price</th>
      <th>Total</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% total_revenue = 0 %>
    <% for booking in @bookings %>
    <% if booking.deal.restaurant.user_id == current_user.id %>
    <tr>
      <td><%= booking.deal_id %></td>
      <td><%= booking.user.first_name %></td>
      <td><%= booking.user.last_name %></td>
      <td><%= booking.user.email %></td>
      <td><%= booking.date.strftime("%A the %dth of %B, at %H:%M") %></td>
      <td><%= booking.number_of_people %></td>
      <td><%= booking.status %></td>
      <td>&#128; <%= booking.deal.price %></td>
      <% total_bookings_price = (booking.deal.price * booking.number_of_people) %>
      <% total_revenue += total_bookings_price %>
      <td>&#128;   <%= total_bookings_price %></td>
      <td>
        <div class="form-group">
          <%= submit_tag "Cancel", class: "btn btn-danger btn-xs btn-booking" %>
          <%= submit_tag "Confirm", class: "btn btn-success btn-xs btn-booking" %>
        </div>
        </td>
    </tr>
      <% end %>
    <% end %>
            <h5>Total bookings created:<b> &#128; <%= total_revenue%> </b> </h5>
  </tbody>
</table>
