<br>
<br>
<div class="container" style="width: 60%;">
<h1>New Booking:</h1>
  <%= simple_form_for [@restaurant, @booking] do |f| %>

  <%= f.input :visitor_first_name, label: 'your first name', error: 'name is mandatory', placeholder: 'enter first name' %>
  <%= f.input :visitor_last_name, label: 'your last name', error: 'name is mandatory', placeholder: 'enter last name' %>
  <%= f.input :visitor_email, placeholder: 'user@domain.com' %>
  <%= f.input :visitor_phone, placeholder: '+31-.....?' %>

  <%= f.submit "To Booking Confirmation" %>
  <% end %>

  <% if current_user  %>
<p>test</p>
<% end  %>
</div>

<br>
