

<div style="background-color: #f3f3f3;">
  <div class="booking_wrapper">
   <div class="note">
    <br>
    <% if current_user %>
    <p> Thank you <%= current_user.first_name %>! </p>
    <% else %>
    <p> Thank you!</p>
    <% end  %>
    <p>You have requested a booking at <strong id="color"><%= @restaurant.name  %> </strong> on <strong id="color"><%= @booking.date.strftime("%A %d of %B, at %H:%M")  %>, for <%= @booking.number_of_people %> people.</strong> </p>

   <strong>Please note:</strong>
    <p>
    We have sent you a confirmation email. In order to confirm your booking, please click on the button in your email.
    </p>

    <p>We wish you a great dinner experience, company and evening!</p>

    <h4 id="color">~ The 12restaurants Team</h4>
    <br>
    <%= link_to "To Restaurant", restaurant_path(@restaurant), class:"btn styling-button-confirmation link-styling"%>

  </div>
  <br>
</div>
</div>

