
Dear <%= @restaurant.user.first_name %> <%= @restaurant.user.last_name %>

<p>you have received a booking request for <strong><%= @restaurant.name  %> </strong> from
<% if @user %>
<%= @user.first_name %> <%= @user.last_name %>
<% elsif  %>
<%= @booking.visitor_first_name  %> <%= @booking.visitor_last_name  %>,
<% end  %>

 for <%= @booking.date.strftime("%A the %dth of %B, at %H:%M")  %> for <%= @booking.number_of_people %> people </p>


<p>you can accept this request in your CMS</p>




