<h1>BookingMailer#user_booking_confirmation</h1>


Dear <%= @user.first_name %> <%= @user.last_name %>

<p>you have requested a booking at <strong><%= @restaurant.name  %> </strong> for <%= @booking.date.strftime("%A the %dth of %B, at %H:%M")  %> for <%= @booking.number_of_people %> people </p>


<h2>Please click the link:
<%= link_to "Confirm your Booking", restaurant_booking_url(@restaurant, @booking), method: :patch, class:"btn btn-success" %></h2>
