<div id="navOwner-layout-padding"></div>
<div class="container">
    <i class="fa fa-cogs fa-2x" aria-hidden="true">&nbsp;Owner CMS</i>
</div>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-4">

      <!-- Gear Layout CSS moving -->
    </div>
    <div id="headshow">
      <%= link_to restaurants_path, class: "btn btn-sm" do  %>
          <i class="fa fa-home fa-2x" aria-hidden="true"></i>
      <% end %>&nbsp;
      <%= link_to restaurants_path(params[:id]), class: "btn btn-warning btn-sm" do  %>
          <i class="fa fa-eye" aria-hidden="true"></i> View Your Page
      <% end %>&nbsp;
      <button class="btn btn-success btn-xs" type="button">
        <p>Notification <span class="label label-danger">4</span></p>
      </button>&nbsp;
      <%= link_to destroy_user_session_path, class: "btn btn-info btn-sm font-color",  method: :delete do  %>
          <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Log-Out
      <% end %>&nbsp;
      <!-- Profile logout -->
      <!-- <% if current_user  %>
        <li><%= link_to "Profile" %> </li>
        TODO: add profile path link!

        <!-- For Logout Profile capability
        <%= link_to destroy_user_session_path, class: "btn btn-success btn-sm",  method: :delete %>
         <% else %>
        <li><%= link_to 'Log-In', new_user_session_path %></li>
        <li><%= link_to 'Sign-Up', new_user_registration_path %> </li>

        <!-- this is temporary, we'll reroute this elsewhere
      <% end  %> -->
    </div>
  </div>
</div>
