<!-- Add button for offers -->
<div class="add-edit-btn">
<%= link_to "#addOffer", class: "btn btn-success btn-sm", "data-toggle" => "modal" do %>
<i class="fa fa-plus-circle" aria-hidden="true"></i> Add
<% end %>
<%= render 'form' %>
<%= link_to 'Delete', class: "btn btn-warning btn-sm" do %>
    <i class="fa fa-trash" aria-hidden="true"> </i> Delete
<% end %>
</div>
<br /><br />
<table class="table table-hover">
  <thead>
    <tr class="info del">
      <th>
        <label>
        <input type="checkbox">
        </label>
        </th>
      <th>Menu Name</th>
      <th>Location</th>
      <th>Course Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Persons</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <% restaurant.deals.each do |deal| %>
            <tr>
              <td>
               <label>
               <input type="checkbox">
               </label>
              </td>
              <td contenteditable="true">
                <%=h deal.name %>
              </td>
              <td contenteditable="false">
                <%= restaurant.city_name %>
              </td>
              <td contenteditable="false">
                <% deal.courses.each do |course| %>
                      <%= course.course_name %>
                <% end %>
              </td>
              <td contenteditable="false">
                <% deal.courses.each do |course| %>
                      <%= course.description %>
                      <%= course.course_name %>
                <% end %>
              </td>
              <td><%= deal.price %></td>
              <td><%= deal.maximum_deal_capacity %></td>
              <td><%= deal.start_date %></td>
              <td><%= deal.end_date %></td>
              <td>
                <%= button_tag(type: "submit", class: "editbtn btn btn-success btn-xs") do %>
                 <i class="fa fa-pencil"> </i> Edit
                <% end %>
              </td>
              <td>
                <%= link_to restaurant_path(@restaurant), class: "btn btn-success btn-xs" do %>
                <i class="fa fa-eye" aria-hidden="true"></i> View
                <% end %>
              </td>
      <% end %>
    <% end %>
    </tr>
  </tbody>
</table>
