<h2> <%= restaurant.name %> </h2>

<li> <%= @restaurant.street_name %> <%= @restaurant.street_number %> • <%= @restaurant.postal_code %> <%= @restaurant.city_name %> <%= @restaurant.country_name %></li>
<li>
  Tel.: <%= @restaurant.phone_number %>
</li>
<li>
  Email: <%= @restaurant.email_address %>
</li>
