  <div class="header-cover-image">
    <%= render 'layouts/searchForm' %>
  </div>
  <div class="filter-bar flex-filter-bar">

    <div class="dropdown" style="margin-left: 115px;">
      <button class="btn btn-default dropdown-toggle filter-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        We are... <!-- purpose  / category-->
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to "ALL", restaurants_path(cuisine: @cuisine) %></li>
        <li role="separator" class="divider"></li>
        <% Restaurant.category.options.each do |label, value| %>
        <li><%= link_to label, restaurants_path(cuisine: @cuisine, category: value) %></li>
        <% end %>
      </ul>
    </div>
    &nbsp; &nbsp; &nbsp;...looking for...
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle filter-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Cuisine
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to "ALL", restaurants_path(category: @category) %></li>
        <li role="separator" class="divider"></li>
        <% Restaurant.cuisine.options.each do |label, value| %>
        <li><%= link_to label, restaurants_path(cuisine: value, category: @category) %></li>
        <% end %>
      </ul>
    </div>

    <div class="flex-active-filters">
    <% if @category.present? %>
      <div id="active-filters">
        <strong>Active filters:</strong>
      </div>
      <% elsif @cuisine.present? %>
      <div id="active-filters">
      <strong>Active filters:</strong>
      </div>
      <% end %>

      <% if @category.present? %>
      <div class="filter-button" > <!-- style="background-color: #C32B35;" -->
        <%= Restaurant.category.find_value(@category).text %>
        &nbsp;<%= link_to "", restaurants_path(cuisine: @cuisine), class:"fa fa-times" %>
      </div>

      <% end %>
      <% if @cuisine.present? %>
      <div class="filter-button">
        <%= Restaurant.cuisine.find_value(@cuisine).text %>
        &nbsp;<%= link_to "", restaurants_path(category: @category), class:"fa fa-times" %>
      </div>
      <% end %>
    </div>
  </div>

  <br>
  <br>
  <div class="clear"></div>
  <div class="container">
    <%= render 'content' %>
  </div>
  <br>
  <br>
  <br>
  <br>
