<!-- #put a link which directs to booking#new (From matts brabnch) -->
<br>
<br>
<div class="padded">
  <h2 id="restaurant-name"><%= @restaurant.name %></h2>
  <hr>
  <h4><% link_to "Make a reservation", new_restaurant_booking_path(@restaurant) %></h4>

  <div class="container">
    <div class="header-items">
      <div class="row" style="margin-top: 15px;">

        <div class="col-md-7 restaurant-gallery">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- CAROUSEL Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class=".active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- CAROUSEL Wrapper for slides -->
            <%# @trestaurants.each do |restaurant| %>

            <%# restaurant.photos.each do |photo| %>

            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <%= cl_image_tag @restaurant.photos.first.photo, height: 350, width: 450, crop: :fill %>
                  <div class="carousel-caption">
                  </div>
              </div>

              <% @restaurant.photos.to_a.drop(1).each do |p|  %>
              <div class="item">
                <%= cl_image_tag p.photo, height: 350, width: 450, crop: :fill %>
                <div class="carousel-caption">
                </div>
              </div>
              <% end  %>
            </div>
            <%# end %>
            <%# end %>

            <!-- CAROUSEL Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>



        <!-- RESERVATION FORM - part one -->


        <div class="col-md-3 col-md-offset-1 restaurant-booking-form">

          <%= form_tag(new_restaurant_booking_path(@restaurant), method: "get") do |form| %>
          <div class="form-group">
            <h5 style="text-align: center; padding-top: 18px;">Reservation</h5>
            <label for="Dateselector"></label>
            <input type="date" class="form-control reservation-selector" name="booking-date" placeholder="Date.today">
          </div>
          <div class="form-group reservation-selector fix-positioning">
            <label for="numberofpeople"></label>
            <!-- In the next line should we interpolate the set # of people set by resto owner (for max) -->
            <input type="number" class="form-control reservation-selector" name="number-of-people" placeholder="Number of people" min="2" max="20" style="margin-top: 3px;">
          </div>
          <div class="form-group">
            <select name="time" id="time">
              <option value="11:30">11:30</option>
              <option value="11:00">11:00</option>
              <option value="12:30">12:30</option>
              <option value="12:00">12:00</option>
              <option value="13:30">13:30</option>
              <option value="13:00">13:00</option>
              <option value="14:30">14:30</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="15:30">15:30</option>
              <option value="16:00">16:00</option>
              <option value="16:30">16:30</option>
              <option value="17:00">17:00</option>
              <option value="17:30">17:30</option>
              <option value="18:00">18:00</option>
              <option value="18:30">18:30</option>
              <option value="19:00" selected>19:00</option>
              <option value="19:30">19:30</option>
              <option value="20:00">20:00</option>
              <option value="20:30">20:30</option>
            </div>
          </select>

          <div class="form-group" id="reservation-button">
            <%= submit_tag("Make Reservation", class:"button-base btn", id:"button-phase1-margin")%>
          </div>
          <% end  %>
        </div>
      </div>
    </div>

    <div class="row row-spacing">
      <div class="col-md-11">
        <div>

          <!-- NAV TABS, remove or add new -->
          <ul class="nav nav-tabs feiko-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#deal" aria-controls="home" role="tab" data-toggle="tab">Deal</a></li>
            <li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
            <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
          </ul>

          <!-- TABS PANES, actual content - TO DO: INTERLINK WITH ERB TO CMS -->
          <div class="tab-content feiko-tab-content">
            <div role="tabpanel" class="tab-pane active feiko-content-padding" id="deal">
              <p id="menu-title">
                <%= @restaurant.deals.first.name %>
              </p>
              <h3 style="text-align: center"> Price: &#8364; <%= @restaurant.deals.first.price %> </h3>
              <ul id="feiko-tab-deal">
                <% @restaurant.deals.each do |deal| %>
                <% deal.courses.each do |course| %>
                <li><strong><%= course.course_name.capitalize  %></strong>
                  <p><%= course.description %></p> </li>
                  <% end  %>
                  <% end  %>
            <!--
                <li><strong>Starter</strong> <p> Mousse of ham from the Ardennes "Pierre Wynants" </p></li>
                <li><strong>Soup</strong> <p>Portobello mushroom soup</p> </li>
                <li><strong>Main course</strong> <p>Rack of veal and sweetbreads with morels and asparagus from Mechelen</p> </li>
                <li><strong>Desert</strong> <p>Vanilla ice-cream with hot chocolate sauce</p> </li> -->
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane feiko-content-padding" id="details">
              <br>
              <p>
                As we believe that food tastes best when it is prepared with the freshest, local ingredients, we grow our own herbs and vegetables in the greenhouses and gardens at the restaurant and on our farmland in the Beemster area.
              </p>
              <br>
              <p>
                We daily create one fixed menu, based on the harvest of our nursery, supplemented with the best additional ingredients from local suppliers.
              </p>
              <br>
              <p>
                We can accommodate up to 140 guests for lunch or dinner in our 8-metre high main greenhouse and we also have a separate Garden Room for private gatherings.
                On fine summer days, lunches and pre-dinner drinks are served outside on the patio in the herb garden.
              </p>
              <br>
              <p>
                On-line reservations can be made on our website. De Kas observes a non-smoking policy, and pets are not allowed in the restaurant.
              </p>
            </div>

            <div role="tabpanel" class="tab-pane feiko-content-padding" id="contact">
              <ul id="remove-bullets">
                <strong><h3> Restaurant <%= @restaurant.name %></h3></strong>
                <li>
                  <li><h4>Contact Details</h4></li>
                  <strong>Address:</strong>
                  <li>
                    <%= @restaurant.street_name %> <%= @restaurant.street_number %>
                  </li>
                  <li>
                    <strong>City:</strong>
                    <li><%= @restaurant.city_name %>, <%= @restaurant.postal_code %>
                    </li>
                  </li>
                  <li>
                    <strong>Country:</strong>
                    <li><%= @restaurant.country_name %>
                    </li>
                  </li>
                  <li>
                    <strong>Telephone:</strong>
                    <li> <%= @restaurant.phone_number %>
                    </li>
                  </li>
                  <li>
                    <strong>Email:</strong>
                    <li> <%= @restaurant.email_address %>
                    </li>
                  </li>
                  <li>
                    <li>
                      <h4>Open:</h4>
                    </li>

                    <li>
                      <strong>Opening days:</strong>
                      <li>
                        Tuesday and Wednesday dinner;
                        Thursday, Friday and Saturday lunch & dinner
                      </li>
                    </li>
                    <li>
                      <strong>Opening times:</strong>
                      <li>
                        Lunch: 12:00-13:30
                      </li>
                      <li>
                        Dinner: 19:00-21:00
                      </li>
                    </li>
                  </li>
                  <!-- NOTE: in our schema, for restaurants database we may need to add variables for opening times and opening days  -->

               <!--    <li>
                    <p> <strong>Info:</strong> We can accommodate up to 140 guests for lunch or dinner in our 8-metre high main greenhouse and we also have a separate Garden Room for private gatherings.
                    </p>
                  </li> -->

                </ul>
                <br>

              </div>

              <div role="tabpanel" class="tab-pane feiko-content-padding" id="reviews">
                <% if @restaurant.reviews.any? %>
                <h4>
                  Restaurant <strong><%= @restaurant.name %></strong> has <%= pluralize @restaurant.reviews.size, "review" %>, with an average rating of
                  <% sum = 0 %>
                  <% @restaurant.reviews.each do |review| %>
                  <% sum = sum + review.rating %>
                  <% end  %>
                  <% rating_average = (sum / @restaurant.reviews.size) %>
                  <%= rating_average %>
                  <span>
                    <%= text_field_tag "average rating", rating_average, class: "rating-loading rating-static", :'data-size' => "xs" %>
                  </span>
                </h4>
                <hr>
                <% end %>

                <!-- This form = actual input for rating & review -->
                <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
                <hr>

                <!-- The list of reviews  -->
                <div id="reviews">
                  <% if @restaurant.reviews.blank? %>
                  Be the first to leave a review for <%= @restaurant.name %>
                  <% else %>
                  <% @restaurant.reviews.each do |review| %>
                  <%= render 'reviews/show', review: review %>
                  <% end %>
                  <% end %>
                </div>

            <div role="tabpanel" class="tab-pane feiko-content-padding" id="reviews">
              <h4>
                Restaurant <strong><%= @restaurant.name %></strong> has <%= pluralize @restaurant.reviews.size, "review" %>, with an average rating of
                <% sum = 0 %>
                <% @restaurant.reviews.each do |review| %>
                <% sum = sum + review.rating %>
                <% end  %>
                <% rating_average = (sum / @restaurant.reviews.size) %>
                <%= rating_average %>
                <span>
                  <%= text_field_tag "average rating", rating_average, class: "rating-loading rating-static", :'data-size' => "xs" %>
                </span>
              </h4>
              <hr>

              <!-- This form = actual input for rating & review -->
              <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
              <hr>

              <!-- The list of reviews  -->
              <div id="reviews">
                <% if @restaurant.reviews.blank? %>
                Be the first to leave a review for <%= @restaurant.name %>
                <% else %>
                <% @restaurant.reviews.each do |review| %>
                <%= render 'reviews/show', review: review %>
                <% end %>
                <% end %>

              </div>
            </div>

          </div>
        </div>
        <br><br><br>
        <br>
        <br>

      </div>
      <%= render 'restaurants/map' %>
    </div>


  </div>
</div>



<div id="bottom-white-space">

</div>



