<div  class="col-md-12">
       <hr/>
       <div class="col-xs-3 col-md-2"> <!-- required for floating -->
         <!-- Nav tabs -->
         <ul class="nav nav-tabs tabs-left sideways">
           <li class="active"><a href="#dashboard-v" data-toggle="tab"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
           <li><a href="#accounts-v" data-toggle="tab"><i class="fa fa-user" aria-hidden="true"></i> Accounts</a></li>
           <li><a href="#offers-v" data-toggle="tab"><i class="fa fa-briefcase" aria-hidden="true"></i> Offers</a></li>
           <li><a href="#bookings-v" data-toggle="tab"><i class="fa fa-book" aria-hidden="true"></i> Bookings</a></li>
           <li><a href="#analytics-v" data-toggle="tab"><i class="fa fa-bar-chart" aria-hidden="true"></i> Analytics</a></li>
           <li><a href="#billings-v" data-toggle="tab"><i class="fa fa-money" aria-hidden="true"></i> Billings</a></li>
           <li><a href="#support-v" data-toggle="tab"><i class="fa fa-phone-square" aria-hidden="true"></i> Support</a></li>
         </ul>
       </div>

       <div class="col-xs-12 col-md-9">
         <!-- Tab panes -->
         <div class="tab-content">
           <div class="tab-pane active" id="dashboard-v"><%= render 'owner/components/dashboard' %></div>
           <div class="tab-pane" id="accounts-v"><%= render 'owner/components/accounts' %></div>
           <div class="tab-pane" id="offers-v"><%= render 'owner/components/offers' %></div>
           <div class="tab-pane" id="bookings-v"><%= render 'owner/components/bookings' %></div>
           <div class="tab-pane" id="analytics-v">Analytics</div>
           <div class="tab-pane" id="billings-v"><%= render 'owner/components/billings' %></div>
           <div class="tab-pane" id="support-v"><%= render 'owner/components/support' %></div>
         </div>
       </div>
       <div class="clearfix"></div>
</div>
