<div id="accounts-layout" class="row">
  <%= simple_form_for [:owner, @restaurant] do |form| %>
  <div class="col-md-3">
    <%= form.input :name, label: "Restaurant name" %>
    <%= form.input :email_address %>
    <%= form.input :phone_number, placeholder: "+39.." %>
    <%= form.input :street_name %>
  </div>
  <div class="col-md-3">
    <%= form.input :street_number %>
    <%= form.input :city_name %>
    <%= form.input :postal_code %>
    <%= form.input :country_name %>
    <%= submit_tag "Update", class: "btn btn-success" %>
    <!-- <%= link_to "Cancel", owner_restaurants_path, class: "btn btn-default" %> -->
  </div>
  <% end %>

  <div class="col-md-4">
      <% @restaurant.photos.each do |p|  %>
        <%= cl_image_tag p.photo, class: "img-responsive"%>
          <%= link_to owner_restaurant_photo_path(@restaurant, p), class: "btn btn-xs btn-danger image-delete", method: :delete do %>
          <i class="fa fa-trash" aria-hidden="true"></i> Delete
          <% end %>
      <% end  %>
  </div>

  <div class="col-md-2">
    <%= simple_form_for(@photo, url: owner_restaurant_photos_path(@restaurant)) do |f| %>
      <%= f.input :photo, class: "form-group"  %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :restaurant_id, input_html: { value: @restaurant.id }, as: :hidden %>
      <%= submit_tag "Upload Photo", class: "btn btn-primary btn-xs" %>
    <% end %>
    <p><strong>Note:</strong> Upload only 4 Photos</p>
  </div>
</div>
