<div id="accounts-layout" class="row">
  <%= simple_form_for [:owner, @restaurant] do |form| %>
  <div class="col-md-4">
    <%= form.input :name %>
    <%= form.input :email_address %>
    <%= form.input :phone_number, placeholder: "+39.." %>
    <%= form.input :country_name %>
  </div>
  <div class="col-md-4">
    <%= form.input :street_number %>
    <%= form.input :street_name %>
    <%= form.input :city_name %>
    <%= form.input :postal_code %>
    <!--  -->

    <!--  -->
    <%= submit_tag "Update", class: "btn btn-success" %>
    <!-- <%= link_to "Cancel", owner_restaurants_path, class: "btn btn-default" %> -->
  </div>
  <% end %>
  <div class="col-md-4">
    <%= simple_form_for(@photo, url: owner_restaurant_photos_path(@restaurant)) do |f| %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit %>
    <% end %>
  </div>
  <br>
<div class="col-md-4">
<% @restaurant.photos.each do |p|  %>
<%= cl_image_tag p.image_string, height: 300, width: 400, crop: :fill %>
<% end  %>

</div>
  <div class="col-md-4">
    Your Business Information:
  </div>
</div>
