<div class="row review-padding">
  <div class="col-md-1">
    <%= image_tag "https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-fill-circle-512.png", class:"avatar-large"  %>
  </div>
  <div class="col-md-11">
    <% if review.user %>
    <strong style="font-size: 18px;">
      <%= review.user.first_name %>
    </strong>
    <% else %>
    <strong>
      <span>
        Anonymous
      </span>
    </strong>
    <% end %>
    <br>
    <span style="color: #A8A8A8; font-style: italic;">
      <%= time_ago_in_words(review.created_at) %> ago
    </span>
    <span>
    <%= text_field_tag "rating_#{review.id}", review.rating, class: "rating-loading rating-static", :'data-size' => "sm" %>
    </span>
    <p class="review_text"> <%= review.content %> </p>
  </div>
</div>
