<!-- <div class="container">
  <div class="row"> -->
    <!-- <div class="search-margin"> -->
      <%= form_tag(restaurants_path, :method => "get", id: "search-input", class: "input-group header-search") do %>
        <%= text_field_tag :search, params[:search], placeholder: "In which city would you like to eat?", class: "search-input-field input-md" %>
      <span class="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-success btn-md" %>
      </span>
      <% end %>
    <!-- </div> -->
 <!--  </div>
</div> -->


    <!-- <%= form_tag(restaurants_path, :method => "get", id: "search-form", class: "navbar-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Restaurant", class: "form-control" %>
      <%= submit_tag "Search", class: "btn btn-primary btn-sm outline" %>
    <% end %> -->
