<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Dine City</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>

 <%= javascript_include_tag "https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&sensor=false" %>


</head>

<body>
  <div class="wrapper">
  <%= render 'layouts/navbar' %>
</div>
  <%= render 'layouts/flashes' %>

  <%= yield %>
  <%= render 'layouts/footer' %>
 <%= javascript_include_tag 'application' %>
 <%= yield :after_js %>
 <!-- below is the facebook login javascript -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1729792927278815',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>
